
.svg{
    width : 80px;
    height: 80px;
}

.svgm{
    width : 40px;
    height: 40px;
}

.add{
    position: relative;
    top: 40px;
}

.mail{
    position: relative;
    top: 80px;
}

.settings{
    position: relative;
    top: 120px;
}

.contact{
    position: fixed;
    top: 250px;
    right: 0;
}